{% extends('layout.html.twig') %}

{% block content %}
    <div class="container" style="margin-top: 6%">
        <h1 style="text-align: center; color: #3c8564;">Inscrivez-vous pour recevoir notre newsletter</h1>

        <div class="row form-group rounded mx-auto d-block" style="margin-top: 6%">
            {{ form_start(form) }}
            <div class="text-center" id="newsletter">{{ form_row(form.Newsletter) }}</div>
            <div class="text-center btn dusty-grass-gradient margin-top">{{ form_row(form.envoyer) }}</div>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
