{% extends 'layout.html.twig' %}
{% block page_title %}
    Mot de passé oublié de l'admin
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="no-bg">
        <div class="container margin-top ">
            <div class="row" style="background-color:#018a67;  padding: 30px;" >


                <form col-sm-12>
                    <h1 style="text-align: center; !important; ">Mot de passe oublié</h1>

                    <div class="form-group row" style="align-content:center;">
                        <div class="col-sm-12">
                            <input type="text" style="text-align:center;" class="form-control" id="" placeholder="Donne ton adresse mail admin sans tête">
                        </div>
                    </div>
                </form>
            </div>    <!-- /.row> -->
        </div>
    </main>


{% endblock %}

{% block javascripts %}


{% endblock %}
