{% extends 'layout.html.twig' %}
{% block content %}

    <div class="container-fluid margin-top">
        <h1 class="text-center">
            Mentions légales
        </h1>
        <p class="text-center">
             vgv gvgvugvgvgv fvvtvvfv
        </p>

    </div>



{% endblock %}
