{% extends 'layout.html.twig' %}
{% block content %}

    <section id="carte1">
        <div class="container margin-top">
            <div class="row">
                <div class="col-sm-9">
                    <div>
                        <h1>Pourquoi s'abonner ?</h1>
                        <p>Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english. Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <h1>Comment réaliser notre mission ?</h1>
                        <p>Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english. Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <h1>Pourquoi réaliser notre mission?</h1>
                        <p>Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english. Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english</p>
                    </div>

                </div>


                <div class="col-sm-3">
                    <img class="imgpoubelle" src="https://fr.cdn.v5.futura-sciences.com/buildsv6/images/wide1920/f/6/b/f6b0f09bcc_89652_recyclage-verre.jpg" style="width: 100px;" alt="Card image cap"></div>
            </div>
        </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>


{% endblock %}
