{% extends 'layout.html.twig' %}
{% block content %}


        <div class="container" style="margin-top: 7%">
            <div class="row text-center">
                <div class="col-sm-9">
                    <div>
                        <h1>Pourquoi s'abonner à la newsletter ?</h1>
                            <p> Vous recevez chaque semaine, dans votre boîte e-mail, les nouvelles informations disponibles sur notre site :
                                Les nouvelles poubelles, les derniers articles..</p>
                    </div>
                        <br>
                            <br>
                                 <br>
                    <div>
                        <h1>Restez à la page des nouvelles actualités liés aux recyclages? </h1>
                        <p>Les méthodes changent, les villes s'améliorent ou alors tombent dans la pollution, grace à cette newsletter resttez à la page directementgit</p>
                    </div>
                        <br>
                            <br>
                             <br>
                    <div>
                        <h1>Vous en avez marre ?</h1>
                        <p> Vous pourrez à tout moment choisir de résilier votre abonnement</p>
                    </div>
                    <a href="{{ path('newsletter') }}"><button type="button" class="btn btn-success margin-top">Je m'inscris</button></a>
                </div>

                <div class="col-sm-3" style="text-align: center">

                    <img  src="{{ asset('img/imageTri.jpg') }}" alt="..." class="img-thumbnail">
                    <img  src="{{ asset('img/imageTri2.jpg') }}" alt="..." class="img-thumbnail">


                </div>

            </div> <!-- /.row -->
        </div> <!-- /.container -->





{% endblock %}
