{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid margin-top">
        <div class="row">
            <div class="col-sm-1" style="text-align: center"></div>
            <div class="col-sm-8" style="text-align: center">
                <h5 class="margin-bottom"> Utilisez la map ci-dessous pour retrouver les bennes de Lyon</h5>

                <script>
                    window.onload = function () {
                        console.log('Page chargée ');

                        var map = L.map('map').setView([45.75 , 4.85], 12);
                        var titleStreets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                            maxZoom: 18,
                            id: 'mapbox.streets',
                            accessToken: 'pk.eyJ1IjoiMTY5NTciLCJhIjoiY2pzcHhodDB5MHF4YjQzbzA3dHByb3V2ZiJ9.CiBSDPowlgXwoiRjIlhTKg'
                        }).addTo(map);

                        // ajout de l'image : logo sur le marker
                        var icon = L.icon({
                            iconUrl: 'img/logoP4.png',
                            iconSize: [45, 40], // Taille de l'icon
                        });

                        geojson = L.geoJson(Verre, {
                            style: function (feature) {
                                return feature.properties && feature.properties.style;
                            },
                            pointToLayer: function (feature, latlng) {
                                var marker =  L.marker(latlng, {icon: icon});
                                marker.bindPopup('<b><strong style="size: 30px">Description</strong></b><br>'
                                    + '<b><u>Commune</u> : </b>'+ feature.properties.commune + '<br>'
                                    + '<b><u>Adresse</u> : </b>' + feature.properties.voie + '<br>'
                                    + '<b><u>Code commune</u> : </b>' + feature.properties.code_postal + '<br>'
                                );
                                return marker ;
                            }
                        }).addTo(map);
                        L.Control.Watermark = L.Control.extend({
                            onAdd: function(map) {
                                var img = L.DomUtil.create('img');

                                img.src = 'img/logoP4.png';
                                img.style.width = '100px';

                                return img;
                            },

                            onRemove: function(map) {
                                // Nothing to do here
                            }
                        });

                        L.control.watermark = function(opts) {
                            return new L.Control.Watermark(opts);
                        }

                        L.control.watermark({ position: 'bottomleft' }).addTo(map);
                    }
                </script>

                <div id="map" class="rounded mx-auto d-block text-center" ></div>

            </div>



            <div class="col-sm-3" id="articleamation" style="text-align: center">
                <h3>Les derniers articles</h3>
                <div class="card rounded mx-auto d-block margin-top margin-bottom" style="width: 15rem;">
                    <img src="{{ asset('img/bottles-3640682_960_720.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card rounded mx-auto d-block margin-top" style="width: 15rem;">
                    <img src="{{ asset('img/glass-239348_960_720.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vide" style="margin-top: 6%"></div>

{% endblock %}
