{% extends 'layout.html.twig' %}
{% block content %}

    <div class="container-fluid margin-top">
        <div class="row">
            <div class="col-sm-9" style="text-align: center">
                MAPS
            </div>
            <div class="col-sm-3" id="articleamation" style="text-align: center">
                <h3>Les derniers articles</h3>
                <div class="card rounded mx-auto d-block margin-top margin-bottom" style="width: 15rem;">
                    <img src="{{ asset('img/bottles-3640682_960_720.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card rounded mx-auto d-block margin-top" style="width: 15rem;">
                    <img src="{{ asset('img/glass-239348_960_720.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card rounded mx-auto d-block margin-top" style="width: 15rem;">
                    <img src="{{ asset('img/1.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
