{% extends 'layout.html.twig' %}
{% block content %}

    <div class="container-fluid margin-top">
        <div class="row">
            <div class="col-sm-9" style="text-align: center">
                MAPS
            </div>

            <div class="col-sm-3" id="articleamation" style="text-align: center">
                <h3>Les derniers artciles</h3>
            </div>
        </div>
    </div>

{% endblock %}
