{% extends 'layout.html.twig' %}

{% block stylesheets %}

    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="{{ asset('node_modules/leaflet/dist/leaflet.css') }}"/>
    <script src="{{ asset('node_modules/leaflet/dist/leaflet.js') }}"></script> -->


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="{{ asset('Json/benne.json') }}"></script>
    <script>



        window.onload = function () {
            console.log('Page chargée ');

            var map = L.map('map').setView([45.764043, 4.835659], 11);
            var titleStreets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiMTY5NTciLCJhIjoiY2pzcHhodDB5MHF4YjQzbzA3dHByb3V2ZiJ9.CiBSDPowlgXwoiRjIlhTKg'
            }).addTo(map);

            geojson = L.geoJson(Verre, {
                style: function (feature) {
                    return feature.properties && feature.properties.style;
                },
                pointToLayer: function (feature, latlng) {
                    var marker =  L.marker(latlng);
                    marker.bindPopup('<b><u>Description de la benne</u></b><br>'
                        + '<b>Commune:</b>'+ feature.properties.commune + '<br>'
                        + '<b>Adresse : </b>' + feature.properties.adresse + '<br>'
                        + '<b>Code commune : </b>' + feature.properties.code_com + '<br>'
                    );
                    return marker ;

                }
            }).addTo(map);

            map.locate({setView: true, watch: true}) /* This will return map so you can do chaining */
                .on('locationfound', function(e){
                    var marker = L.marker([e.latitude, e.longitude]).bindPopup('Your are here :)');
                    var circle = L.circle([e.latitude, e.longitude], e.accuracy/2, {
                        weight: 1,
                        color: 'blue',
                        fillColor: '#cacaca',
                        fillOpacity: 0.2
                    });
                    map.addLayer(marker);
                    map.addLayer(circle);
                })
                .on('locationerror', function(e){
                    console.log(e);
                    alert("Location access denied.");
                });


        };
/*
        if("geolocation" in navigator){
            alert("la geoloc marche");
        }else{
            alert("la geoloc ne marche pas")
        }


        function setCoord(){
            L.map('map').setView([position.coords.latitude, position.coords.longitude])

        }

       function geolocation(){
            navigator.geolocation.getCurrentPosition(function(position){
                setCoord(position.coords.latitude, position.coords.longitude);
           });
       }
*/

    </script>

{% endblock %}

{% block title %}Hello OpenstreetmapController!{% endblock %}

{% block body %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    Affichage de la carte :




    <button onclick="locate()"id="geoloc">Me localiser</button>
    <div id="map" style="height: 400px"></div>




    {% block javascripts %}



    {% endblock %}


{% endblock %}