{% extends 'layout.html.twig' %}
{% block content %}

    <section id="carte1">
        <div class="container margin-top">
            <div class="row">
                <div class="col-sm-9">
                    <div>
                        <h1>Le verre : pourquoi le recycler est-il si important ?</h1>
                        <p>L’enjeu écologique du recyclage du verre est grand. À l’heure actuelle, ce recyclage permet d’éviter le rejet de plus 2 millions de tonnes de déchets ménagers par an. Les enjeux sont tels qu’il est essentiel d’accroître quantitativement et qualitativement le recyclage du verre.</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <h1>Des bénéfices environnementaux? </h1>
                        Les bénéfices environnementaux du recyclage du verre sont multiples : économie de matières premières (sable, calcaire), d’eau, d’énergie, limitation de l’impact sur l’effet de serre... Ne jetez plus le verre dans votre bac d’ordures ménagères, car non seulement il n’est pas recyclé, mais il empêche aussi la valorisation du compost obtenu à partir de la partie fermentescible des ordures ménagères et qui ne ne doit pas contenir de verre pour pouvoir être valorisé par les agriculteurs.                    </div>
                    <br>
                    <br>
                    <br>
                    <div>
                        <h1>Le sais-tu ?
                        </h1>
                        <p>Le verre se recycle à l'infini  car à partir d’une vieille bouteille fondue, on en refait une neuve !

                        </p>
                    </div>

                </div>



            <div class="col-sm-3" style="text-align: center">

                <img  src="{{ asset('img/imageTri.jpg') }}" alt="..." class="img-thumbnail">
                <img  src="{{ asset('img/imageTri2.jpg') }}" alt="..." class="img-thumbnail">


            </div>
        </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>


{% endblock %}
