{% extends "layout.html.twig" %}
{% set active = 'admin_index' %}
{% set active_link = 'administration' %}
{% block page_title %} Panel{% endblock %}

{% block content %}


<div class="container-fluid margin-top margin-bottom">
    <div class="row margin-top margin-bottom">
        <div class="col-sm-4 margin-top">
            <ul class="nav animated fadeIn rounded mx-auto d-block">
                <div class="list-group">
                    <a href="{{ url('admin_index') }}" class="list-group-item list-group-item-action bg-warning text-white"><i class="fas fa-home"></i>
                        Tableau de bord
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-arrow-alt-circle-right"></i>Demande en attentes</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="far fa-plus-square"></i>Ajouter article</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="far fa-plus-square"></i>Ajouter Benne</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-list-ul"></i>Liste Benne</a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-list-ul"></i>Liste article</a>
                </div>
            </ul>
            </div>
        <div class="col-sm-8 margin-top">
            <div class="card  rounded mx-auto d-block" style="width: 50rem;">
                <div class="card-header bg-gradient-light">
                    <p style="color: black;"> <h3> Bonjour, </h3></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>







    <!-- Contenu du dashboard
<div class="col-8">
    <div class="content-box-header">
        <div class="panel-title titre-moncompte"><p>Bonjour,</p></div>
    </div>

    <p> :</p>
    <ul class="recap animated fadeIn">

        <li><a href=""><i class="glyphicon glyphicon-record vert"></i><p> demandes en attente</p></a></li>
        <li><a href=""><i class="glyphicon glyphicon-menu-hamburger vert"></i><p> &oelig;uvres disponibles</p></a></li>
        <li><a href=""><i class="glyphicon glyphicon-menu-hamburger orange"></i><p> &oelig;uvres indisponibles</p></a></li>
        <li><a href=""><i class="glyphicon glyphicon-user bleu"></i><p> clients enregistr&#233;s</p></a></li>

    </ul>

</div> -->
{% endblock %}


