{% extends "layout.html.twig" %}
{% set active = 'admin_index' %}
{% set active_link = 'administration' %}
{% block page_title %} Panel{% endblock %}

{% block content %}


<div class="container-fluid margin-top margin-bottom">
    <div class="row margin-top margin-bottom">
        <div class="col-sm-4 margin-top">
            <ul class="nav animated fadeIn rounded mx-auto d-block">
                <div class="list-group">
                    <a href="{{ url('admin_index') }}" class="list-group-item list-group-item-action active text-white"><i class="fas fa-home"></i>
                        Tableau de bord
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-arrow-alt-circle-right"></i>Demande en attentes</a>
                    <a href="{{ url('admin_containers') }}" class="list-group-item list-group-item-action"><i class="fas fa-list-ul"></i>Liste Benne</a>
                    <a href="{{ url('admin_articles_manage') }}" class="list-group-item list-group-item-action"><i class="fas fa-list-ul"></i>Liste Article</a>
                    <a href="{{ url('admin_account') }}"class="list-group-item list-group-item-action"><i class="far fa-user-circle"></i> Voir Compte</a>
                </div>
            </ul>
            </div>
        <div class="col-sm-8 margin-top">
            <div class="card  rounded mx-auto d-block" style="width: 50rem;">
                <div class="card-header bg-gradient-light">
                    <p style="color: black;"> <h3> Bonjour, </h3></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">3 Articles en attente</li>
                    <li class="list-group-item">39 bennes a ajouter</li>
                    <li class="list-group-item">cdjs</li>
                    <li class="list-group-item">drfg</li>
                </ul>
            </div>
        </div>
    </div>
</div>



{% endblock %}


