<footer>
    <nav class="navbar navbar-inverse navbar-apple">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="page5.html">Organigramme de l'entreprise</a></li>
                    <li><a href="page6.html">Pourquoi s'abonner à la newsletter</a></li>
                    <li><a href="page4.html">Nous contacter</a></li>
                    <li><a href="page7.html">Mentions légales</a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div> <!-- /#container -->
        </div> <!-- /.container -->
    </nav>
</footer>