<nav class="navbar navbar-inverse navbar-apple">
    <div class="container">
        <div class="navbar-header">
            <!-- Gestion du Menu Burger : Version Mobile -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Le logo -->
            <a href="index.html"  class="navbar-brand">
                <i class="fa fa-facebook"></i>
            </a>
        </div> <!-- /.navbar-header -->


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="page1.html">Accueil</a></li>
                <li><a href="page2.html">Actualités</a></li>
                <li><a href="page3.html">Notre but</a></li>
                <li><a href="page4.html">Nous contacter</a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="inscription@newsletter.fr" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">S'inscire</button>
            </form>
        </div> <!-- /#container -->
    </div> <!-- /.container -->
</nav>