<section id="carte1">




    <h1>MENTIONS LEGALE</h1>
    <p>blafeaiofeazhfezahfezuafeuzhafuehafez  hfeazhufuehazuhfeuahzfufeauihazehuifezahufezuh uifezauihfehuaefzhufeauzhifeiuzhefazuhi</p>



</section>>