<section id="carte1">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">


                <div>
                    <h1>GROSSE IMAGE ORGANIGRAME</h1>
                    <p>Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english. Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english</p>
                </div>
                <



                <div>
                    <h1>GROSSE IMAGE ORGANIGRAMME?</h1>
                    <p>Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english. Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english Lorem ipsum bonjour la france blabla voyage du dimanche bonjour english</p>
                </div>

            </div>


            <div class="col-sm-4">
                <img class="imgpoubelle" src="./assets/img/verre.jpg" alt="Card image cap"></div>
        </div>
    </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>