<footer class="page-footer font-small pt-4 margin-top" style="margin-top: 5%">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url('newsletter') }}">Pourquoi s'abonner à la newsletter ?</a>
                    </li>
                    <li>
                        <a href="{{ url('contact') }}">Nous contacter</a>
                    </li>
                    <li>
                        <a href="{{ url('mentionLegales') }}">Mentions légales</a>
                    </li>

                </ul>

            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <ul class="list-unstyled">
                    <a href="https://www.facebook.com/LyonFrance/" target="_blank"><i
                                class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="https://twitter.com/villedelyon" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://www.instagram.com/villedelyon/?hl=fr" target="_blank"><i
                                class="fab fa-instagram fa-2x"></i></a>
                    <a href="#"><i class="fas fa-rss fa-2x"></i></a>
                </ul>

            </div>
            <div class="col-md-6 mt-md-0 mt-3">

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->


