{% extends 'layout.html.twig' %}
{% set active_link = 'admin_article_add' %}
{% block page_title %}
    Ajouter un article
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <main class="no-bg">
        <div class="container margin-top">
            <div class="row" style="background-color:#018a67; padding: 50px;" >


                <form>
                    <h1 style="text-align: center;">Rédige ton article</h1>

                    <div class="form-group row" style="align-content:center;">
                        <div class="col-sm-12">
                            <input type="text" style="text-align:center;" class="form-control" id="" placeholder="nom de l'article">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" style="text-align:center;" class="form-control" id="" placeholder="Créateur de l'article">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label"  for="inputGroupFile01">Ajouter image</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-6 col-form-label">Date de création</label>
                        <div class="col-sm-6">
                            <input type="date" id="start" name="trip-start"
                                   value="2019-03-07"
                                   min="2019-01-01" max="2050-12-31">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="form-check" style="text-align:center;">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Coche pour rendre l'article visible
                                </label>
                            </div>
                        </div>
                    </div>


                    <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>

                    <script type="text/javascript">
                        tinymce.init({
                            selector: '#mytextarea'
                        });
                    </script>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <form method="post">
                                <textarea id="mytextarea">Allez Baudelaire, écrit ton article ici</textarea>
                            </form>
                        </div>
                    </div>






                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default">Annuler</button>

                            <button type="submit" class="btn btn-default">Enregistrer</button>
                        </div>
                    </div>




                </form>
            </div>    <!-- /.row> -->
        </div>
    </main>


{% endblock %}

{% block javascripts %}


{% endblock %}
