{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <form class="form-horizontal" method="POST"
                  enctype="multipart/form-data">
                <h3>Ajouter un Article</h3>


                <div class="form-group">
                    <label class="col-md-2 control-label">Titre de l'Article</label>
                    <div class="col-md-8">
                        {{ form_row(form.titre) }}
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">Catégorie</label>
                    <div class="col-md-8">
                        {{ form_row(form.categorie) }}
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">Description</label>
                    <div class="col-md-8">
                        {{ form_row(form.contenu) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-7 col-xs-offset-3">
                        {{ form_end(form) }}
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}